* {
    border: none;
    border-radius: 0;
    /* font-family: "Agave Nerd Font", "Symbols Nerd Font"; */
    font-family: "Symbols Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

/* base00: "#0F1419" */
/* base01: "#131721" */
/* base02: "#272D38" */
/* base03: "#3E4B59" */
/* base04: "#BFBDB6" */
/* base05: "#E6E1CF" */
/* base06: "#E6E1CF" */
/* base07: "#F3F4F5" */
/* base08: "#F07178" */
/* base09: "#FF8F40" */
/* base0A: "#FFB454" */
/* base0B: "#B8CC52" */
/* base0C: "#95E6CB" */
/* base0D: "#59C2FF" */
/* base0E: "#D2A6FF" */
/* base0F: "#E6B673" */

window#waybar {
    background: none;
    color: #cdd6f4;
    transition: .3s;
}

window#waybar.empty {
    background: rgba(21, 18, 27, 0);
}

window#waybar.solo {
    background: rgba(21, 18, 27, 0.719);
}

window#waybar.floating {
    background: rgba(21, 18, 27, 0);
}

tooltip {
    background: #1e1e2e;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#language,
#custom-hestale,
#custom-player,
#custom-caffeine,
#custom-weather,
#custom-bluetooth,
#custom-netns,
#window,
#clock,
#battery,
#pulseaudio,
#wireplumber,
#network,
#workspaces,
#tray,
#mpris,
#backlight,
#cpu,
#memory,
#bluetooth{
    transition: .4s;
    background: #0F1419;
    padding: 3px 10px;
    margin: 4px 0px;
    color: #d2fffd;
    border: 1px solid #6c7380;
}


#network {
  border-radius: 5px 0 0 5px;
  margin-left: 20px;
}

#custom-netns {
  border-radius: 0 5px 5px 0;
  margin-right: 10px;
}

#custom-bluetooth {
  border-radius: 5px;
}

#cpu {
  border-radius: 5px 0 0 5px;
}

#memory {
  border-radius: 0 5px 5px 0;
  margin-right: 20px;
}

