window#osd {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  background: alpha(@theme_bg_color, 0.8); }
  window#osd #container {
    margin: 5px; }
  window#osd image,
  window#osd label {
    color: @theme_fg_color; }
  window#osd progressbar:disabled,
  window#osd image:disabled {
    opacity: 0.5; }
  window#osd image {
    -gtk-icon-transform: scale(0.7);
  }
  window#osd progressbar {
    min-height: 6px;
    border-radius: 8px;
    background: transparent;
    border: none; }
  window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(@theme_fg_color, 0.5); }
  window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @theme_fg_color; }
